<html>
<head>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <title>CURD OPERATION</title>
</head>
<style>
    .jumbotron{
        margin-top: 10%;
        background-color: orchid;
    }

    body{
        background-color: cyan;
    }
    h2{
        text-align: center;
        font-family:cursive;
        font-size: 50px;
        color: red;
    }
    h1{
        text-align: center;
        font-family: "Andale Mono";
        color: blue;
    }
    a{
        margin-left: 120px;
        margin-top: 50px;
    }
    .btn{
        height: 50px;
        width: 120px;
        font-size: 25px;
    }
</style>
<body>
<div class="container">
    <h2>Welcome to DurgaSoft</h2>
    <div class="jumbotron">
        <h1> Welcome to CURD Operation</h1>
        <a type="button" class="btn btn-primary" href="/insert/">Create</a>
        <a type="button" class="btn btn-danger" href="/update/">Update</a>
        <a type="button" class="btn btn-info" href="/retrieve/">Retrieve</a>
        <a type="button" class="btn btn-default" href="/delete/">Delete</a>
    </div>
</div>
</body>
</html>